<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
  <a class="navbar-brand">K.A.T.A</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/enonce" routerLinkActive="active"
          >Énoncé</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/demo" routerLinkActive="active"
          >Démo</a
        >
      </li>
    </ul>
  </div>
</nav>
